<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista de Proveedores" blockClass="pc-component">
        <div class="col-md-12 col-xl-8">
          <h5 class="mb-3">
            <a href="borrarfactura" class="btn btn-outline-dark">Borrar Factura</a>
          </h5>
          <div class="card tbl-card">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Factura</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (borrarfactura of listafacturas; track $index) {
                    <tr>
                      <td>{{ $index + 1 }}</td>
                      <td>000{{ borrarfactura.idFactura }}</td>
                      <td>{{ borrarfactura.Nombres }}</td>
                      <td>{{ borrarfactura.total }}</td>
                      <td>
                        <button (click)="eliminar(borrarfactura.idFactura)" type="button" class="btn btn-outline-danger">Eliminar</button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </app-card>
    </div>
  </div>
